<div class="mainContainer">
  <span>Application Form</span>

  <div class="">
    <div class="card flex justify-content-center">
      <input type="text" pInputText [(ngModel)]="name" placeholder="Name" />
    </div>

    <div class="card flex justify-content-center">
      <input
        type="text"
        pInputText
        [(ngModel)]="phone"
        placeholder="Phone Number"
      />
    </div>

    <div class="card flex justify-content-center">
      <input
        type="email"
        pInputText
        [(ngModel)]="email"
        placeholder="Email ID"
      />
    </div>
  </div>

  <div class="qualification">
    <div class="card flex justify-content-center">
      <p-dropdown
        [options]="qualifications"
        [(ngModel)]="selectedQualification"
        optionLabel="name"
        [showClear]="true"
        placeholder="Your Qualification"
      ></p-dropdown>
    </div>
  </div>
</div>
