<div class="mainContainer">
  <div class="bodyContent">
    <span>Application Form</span>

    <!-- __________ Name input Field __________ -->

  <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
    <div class="inputFields">
      <div class="inputUI">
        <div class="card flex justify-content-center">
          <input
            type="text"
            pInputText
            formControlName="name"
            placeholder="Name"
            required="true"
          />
        </div>
      </div>

      <!-- __________ Phone Number input Field __________ -->

      <div class="inputUI">
        <div class="card flex justify-content-center">
          <input
            type="number"
            pInputText
            formControlName="phone"
            placeholder="Phone Number"
            required="true"
          />
        </div>
      </div>

      <!-- __________ Email ID input Field __________ -->

      <div class="inputUI">
        <div class="card flex justify-content-center">
          <input
            type="email"
            pInputText
            formControlName="email"
            placeholder="Email ID"
            required="true"
          />
        </div>
      </div>
    </div>
  

    <!-- __________ Address Text Area __________ -->

    <div class="address">
      <!-- __________ Current Residency Text Area __________ -->

      <div class="currentResidency">
        <div class="card flex justify-content-center">
          <textarea
            rows="5"
            cols="37"
            pInputTextarea
            formControlName="currentAddress"
            placeholder="Current Address"
          ></textarea>
        </div>
      </div>

      <!-- __________ Permanent Residency Text Area __________ -->

      <div class="permanentResidency">
        <div class="card flex justify-content-center">
          <textarea
            rows="5"
            cols="37"
            pInputTextarea
            formControlName="permanentAddress"
            placeholder="Permanent Address"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- __________ DropDown Field __________ -->

    <div class="inputFields">
      <!-- __________ Qualification DropDown Field __________ -->

      <div class="dropUI">
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="qualifications"
            formControlName="selectedQualification"
            optionLabel="company"
            [showClear]="true"
            placeholder="Your Qualification"
            [style]="{ width: '250px' }"
          ></p-dropdown>
        </div>
      </div>

      <!-- __________ Total Experience DropDown Field __________ -->

      <div class="dropUI">
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="totalExperiences"
            formControlName="selectedTotalExperience"
            optionLabel="totalExp"
            [showClear]="true"
            placeholder="Total Experience"
            [style]="{ width: '250px' }"
          ></p-dropdown>
        </div>
      </div>

      <!-- __________ Relevent Experience DropDown Field __________ -->

      <div class="dropUI">
        <div class="card flex justify-content-center">
          <p-dropdown
            [options]="releventExperiences"
            formControlName="selectedReleventExperience"
            optionLabel="releventExp"
            [showClear]="true"
            placeholder="Relevent Experience"
            [style]="{ width: '250px' }"
          ></p-dropdown>
        </div>
      </div>
    </div>

    <!-- __________ Submit Button __________ -->

    <div class="submitBtn">
      <button type="submit">Submit</button>
    </div>
  </form>
  </div>

  <!-- __________ Table Content __________ -->

  <div class="tableContent">
    <div class="card">
      <p-table
        [columns]="tableCols"
        [value]="tableProducts"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
            </td>
            <td>
              <button></button>
              <button></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
